<div class="inner-container">
  <h1>Things I'm Proud Of</h1>
  <p>I like doing things that seem meaningful and there are so many of those things that I have kept very busy.</p>
  <div class="project-nav">
    <ul>
      <li><h3>Jump to:</h3></li>
      <li><h3><a href="#human-projects">Human Projects</a></h3></li>
      <li><h3><a href="#technical-projects">Technical Projects</a></h3></li>
      <li><h3><a href="#technical-education">Speaking & Technical Education Projects</a></h3></li>
    </ul>
  </div>
</div>

<div class="off-white orange-links">
  <div class="inner-container">
    <a name="human-projects"></a>
    <h1>Human Projects</h1>

    <div>
      <h2>Parenthood</h2>
      <h4>April 2017 - forever</h4>
      <p>
        The ultimate human project! My kids, Elsie and Sadie, are the best people ever.
        Also, having kids is really hard! Wow! My favorite book on the topic is
        <a href="https://www.harpercollins.com/9780062072221/all-joy-and-no-fun/" target="_blank">All Joy, No Fun</a>,
        which I recommend HIGHLY.
      </p>
    </div>

    <div>
      <h2>Midterms Madness</h2>
      <h4>July 2018 - November 2018</h4>
      <p>On July 4, 2018, I took the holiday to make <a href="https://docs.google.com/document/d/10OWczXOnnDXCkg0xXyEA4YRN8qZ4L6LmXPtydEcItNc/edit" target="_blank">a plan to help prevent the rise of fascism in America</a>, mostly focused on winning a Democratic majority in the House. When Elsie was born, I'd quit pretty much everything besides work and family, but decided to create time for some politics work. It ended up including <a href="https://docs.google.com/document/d/1wCpOu7sAfILb1CYZSiiPWAyJ8EbPFxjMKqA7Ura74_0/edit" target="_blank">making a worksheet</a> to help other people make an action plan, knocking on doors in Modesto, Turlock, and Kansas City, raising and donating money to several awesome campaigns, writing postcards and making phone calls, and talking to the people in my life about voting and the importance of the midterms.</p>
    </div>

    <div>
      <h2>AndConf Organizing</h2>
      <h4>February 2015 - April 2017</h4>
      <p>I worked closely with two co-organizers to throw an 80-person inclusive, feminist programming conference in the woods to rave reviews ... twice! Each year, I handled all of the fundraising for the conference, and raised a bunch of money in sponsorships to offset the cost for attendees. I was also the weekends' emcee, and improv'd a song about how great all the sponsors were.</p>
    </div>

    <div>
      <h2>Fog City Ruby Running</h2>
      <h4>January 2016 - April 2017</h4>
      <p>I helped co-found and run a chill, welcoming monthly Ruby meetup in San Francisco with three other amazing organizers!</p>
    </div>

    <div>
      <h2>RailsBridge Board Chairing</h2>
      <h4>June 2014 - April 2017</h4>
      <p>
        As chair of the new RailsBridge board, I led a small group of senior RailsBridge volunteers in establishing practices to make RailsBridge a more sustainable organization that is easier to navigate, and worked toward reducing volunteer burnout. Learn more about it <a href="http://blog.railsbridge.org/2015/01/20/railsbridge-the-next-stage/" target="_blank">on the RailsBridge blog</a>.
      </p>
    </div>

    <div>
      <h2>Double Union CTOing</h2>
      <h4>May 2014 - April 2017</h4>
      <p>I led the development of Double Union's voting and membership platform, an open source Rails app we call <a href="https://github.com/doubleunion/arooo" target="_blank">Arooo</a>, as well as supported the DU board in technology-related decisions.</p>
    </div>

    <div>
      <h2>Double Union Membership Coordinating</h2>
      <h4>October 2013 - May 2014</h4>
      <p>
        I managed the onboarding process for new Double Union membership, sent membership acceptance / rejection emails, reminded people to pay their dues, answered many questions, and was inspired enough to take on building out needed membership management tools in the DU web app.
      </p>
    </div>
    <div>
      <h2>RailsBridge SF Chapter Leading</h2>
      <h4>March 2012 - May 2013</h4>
      <p>I mentored organizers and assisted them with finding venues and sponsors for at least one (sometimes two!) 50-100 person, free Rails workshops per month in San Francisco, bringing my special flavor of fun and love of details to the workshop planning process.</p>
    </div>
  </div>
</div>

<div class="light-orange black-links">
  <div class="inner-container">
    <a name="technical-projects"></a>
    <h1>Technical Projects</h1>

    <div>
      <h2><a href="http://www.doubleunion.org">Arooo, the Double Union Web App</a></h2>
      <h4>December 2013 to April 2017</h4>
      <p>
        <a href="https://github.com/doubleunion/arooo" target="_blank"><i class="icon-github"></i></a>
        <a href="http://www.doubleunion.org" target="_blank"><i class="icon-desktop"></i></a>
      </p>
      <p>
        I built out the admin functionality for the Double Union application and voting app, where prospective members apply to join Double Union and current members review and vote on said applications. We also manage dues and various other things through the app, and open sourced it so that other cool feminist hacker/makerspaces can use it, too!
      </p>
    </div>

    <div>
      <h2><a href="http://www.bridgetroll.org">Bridge Troll</a></h2>
      <h4>January 2012 to April 2017</h4>
      <p>
        <a href="https://github.com/railsbridge/bridge_troll"><i class="icon-github"></i></a>
        <a href="http://www.bridgetroll.org"><i class="icon-desktop"></i></a>
      </p>
      <p><a href="http://workshops.railsbridge.org/bridge-troll/">Bridge Troll</a> is an open-source software project that has undergone three incarnations since its inception. I took it on because as someone who helped <a href="http://workshops.railsbridge.org">RailsBridge</a> organizers, I wanted there to be software that made organizing easy. I also wanted to know who keeps coming back, and to be able to look at big-picture data about student and volunteer attendance.</p>
      <p>I handled the role of product owner and product manager on Bridge Troll — consulting with other organizers about features that would be important and working with code contributors to make sure what we want is feasible.</p>
    </div>

    <div>
      <h2><a href="/archive">Little Static Websites</a></h2>
      <h4>Ongoing, kinda</h4>
      <p>I made this website. Pretty good, right?</p>
      <p>I <em>highly</em> recommend checking out my <a href="/archive">site archive</a>. LillieChilen.com: the original is a piece of art.</p>
    </div>

    <div>
      <h2><a href="/woman">Woman, not Girl</a></h2>
      <h4>2012</h4>
      <p><a href="/woman"><i class="icon-desktop"></i></a></p>
      <p>I made a single-serving website to try to convince people to use the word "woman" to refer to female adults rather than "girl".</p>
    </div>

    <div>
      <h2><a href="/billjames">Bill James Calculator</a></h2>
      <h4>2012</h4>
      <p><a href="/billjames"><i class="icon-desktop"></i></a></p>
      <p>As a gift for my dad, I built him a little calculator that uses the Bill James algorithm to determine if the lead is safe in a college basketball game. This was possibly the first time I used jQuery.</p>
    </div>
  </div>
</div>

<div class="teal orange-links">
  <div class="inner-container">
    <a name="technical-education"></a>

    <h1>Speaking & Technical Education Projects</h1>

    <div>
      <h2>Internships: Talk at RailsConf 2016</h2>
      <h4>April 2016</h4>
      <p>
        <a href="https://www.youtube.com/watch?v=75LK0MOvyjQ&t" target="_blank"><i class="icon-desktop"></i></a>
      </p>
      <p>I <%= link_to "spoke at RailsConf 2016", "https://www.youtube.com/watch?v=75LK0MOvyjQ&t", { target: "_blank" } %> about why internship programs can be amazing, how to implement a good one, and how they benefit the engineering team as much as the intern.</p>
      <p>I turned this talk into two blog posts for the Omada tech blog, if you're not the 40-minute video type:
        <ul>
          <li>
            <%= link_to "Part One: Internships: Good for the intern, great for the team", "https://tech.omadahealth.com/why-internships/", { target: "_blank" } %>
          </li>
          <li>
            <%= link_to "Part Two: How to run an internship program", "https://tech.omadahealth.com/how-to-run-an-internship-program/", { target: "_blank" } %>
          </li>
        </ul>
      </p>
    </div>

    <div>
      <h2>Don't Be A Hero: Talk at RailsConf 2015</h2>
      <h4>April 2015</h4>
      <p>
        <a href="https://www.youtube.com/watch?v=KpMC8z8r73g." target="_blank"><i class="icon-desktop"></i></a>
      </p>
      <p>I <%= link_to "spoke at RailsConf 2015", "https://www.youtube.com/watch?v=KpMC8z8r73g.", { target: "_blank" } %> about how to manage an open source software project in a sustainable way, drawing on my open source experience managing projects for RailsBridge and Double Union.</p>
    </div>

    <div>
      <h2><a href="http://docs.railsbridge.org/docs/">Maintainer, RailsBridge Curricula</a></h2>
      <h4>Summer 2012 to April 2017</h4>
      <p>
        <a href="https://github.com/railsbridge/docs"><i class="icon-github"></i></a>
        <a href="http://docs.railsbridge.org/docs/"><i class="icon-desktop"></i></a>
      </p>
      <p>RailsBridge workshops teach from a set of open-source curricula, including a guide to getting a Rails development environment set up, an "app in a day" Rails curriculum, and an intro to front end web development (HTML & CSS with a little JavaScript). I helped maintain all these things, merging PRs and answering questions.</p>
    </div>

    <div>
      <h2>Author, "Begintermediate" RailsBridge Curriculum</h2>
      <h4>June 2014</h4>
      <p>
        <a href="https://github.com/railsbridge/docs"><i class="icon-github"></i></a>
        <a href="http://docs.railsbridge.org/job-board/"><i class="icon-desktop"></i></a>
      </p>
      <p>
        I noticed that there was too big of a gap between the original RailsBridge curriculum and the self-guided intermediate curriculum, so I wrote <a href="http://docs.railsbridge.org/job-board/">a curriculum to live in between</a>, in which students use Rails error messages to guide the development of a simple job board. The curriculum also features fun discussion points, so that there are fewer words on the screen and more encouragement to collaborate as a class.
      </p>
    </div>

    <div>
      <h2><a href="http://docs.railsbridge.org/intermediate-rails">Co-Author, Intermediate Rails Curriculum</a></h2>
      <h4>November 2012</h4>
      <p>
        <a href="https://github.com/railsbridge/docs"><i class="icon-github"></i></a>
        <a href="http://docs.railsbridge.org/intermediate-rails"><i class="icon-desktop"></i></a>
      </p>
      <p>I wrote a <a href="http://docs.railsbridge.org/intermediate-rails/">new RailsBridge curriculum</a> with this cool dude named <a href="https://github.com/tjgrathwell">Travis Grathwell</a>. It's for people who had done the intro curriculum a bunch of times but hadn't taken The Next Step with their Rails knowledge.</p>
    </div>

    <div>
      <h2>RailsBridge Odds and Ends</h2>
      <h4>Fall 2011 to April 2017</h4>
      <p>The organizer cookbook lived in several disparate places, and I grabbed all that content, sorted through it, and <a href="https://github.com/railsbridge/docs/wiki/Cookbook">put it up</a> on the GitHub wiki for the RailsBridge repo. Part of the mission of RailsBridge has been to enable other people to put on their own workshops, and having good documentation and suggestions / support for first-time organizers is a huge part of that.</p>
      <p>I was part of a team that created an umbrella organization called Bridge Foundry, through which RailsBridge has 501(c)3 status.</p>
      <p>I also overhauled the RailsBridge website, twice.</p>
    </div>
  </div>
</div>
<div class="teal">
  <h2 class="bye-bye">You know what else is fun? <%= link_to "My resume!", "http://www.linkedin.com/in/lilliechilen", { target: "_blank" } %> (on LinkedIn)</h2>
</div>
